<h2 class="about">Conoce un poco más de nosotros.</h2>
<p>Somos una carnicería sostenible, producimos nuestros propios embutidos artesanales sin nitratos, preservantes ni colorantes. Trabajamos animales que hayan sido criados con el máximo respeto, creando un producto final saludable.</p>
<div style="width:100%;height:640px; padding:3px;">
    <div style="width:33.3%;  float:left;">
        <img src="~/IMG/restaurant2.jpg" alt="Alternate Text" />
        <h5>Sede Central</h5>
        <p>
            "Av. Los Rosales Nº 117,
            Urb. Valdivieso - Ate Vitarte"
        </p>
        <h5>CONTACTO</h5>
        <p>
            Telf: 326 5126 – 326 5217
            E-mail: contacto@labuencarne.com.pe
        </p>
    </div>
    <div style="width:33.3%;  float:left;">
        <h5>Nosotros</h5>
        <p>En La Buena Carne nos especializamos en Ia comercialización de ganado vivo o en carcasa de ganado vacuno, porcino, ovino, aves de corral y afines. Adaptamos nuestra línea de trabajo a las especificaciones técnicas y sanitarias requeridas, 
        que garantizan la calidad para nuestros clientes y consumidores.</p>
        <p>Nuestros colaboradores realizan sus actividades en un entorno que los desarrolla y motiva, además de preocuparnos por el respeto al medio ambiente.</p>
        <p>Buscamos ser reconocidos como la mejor empresa de capitales peruanos con una fuerte participación en el mercado nacional, en base a nuestro factor humano, políticas de calidad, seguridad y medio ambiente, cumpliendo a cabalidad y puntualidad todos nuestros compromisos.</p>
    </div>
    <div style="width:33.3%;  float:left;">
        <img src="~/IMG/hpcarnes.jpg" alt="Alternate text"/>
    </div>
</div>

