<h2 class="contacto">Contactanos</h2>
<p>¿Tiene alguna pregunta? Utilice el formulario y háganos saber!</p>
<div class="row" style="width:100%;height:400px;padding:3px;">
    <div style="width:50%;float:left">
        <h5>Escribenos</h5>
       
       <form>
           Nombre: <input  type="text" name="nombre" placeholder="ingrese su nombre"/>
           <br/><br />
           Apellido: <input type="text" name="Apellido" placeholder="ingrese su apellido"/>
           <br /><br />
           Correo:    <input type="email"  name="Email" placeholder="ingrese su email" />
           <br /><br />
           Telefono: <input type="text" name="Telefono" placeholder="ingrese su telefono" />
           <br /><br />
           Mensaje:  <textarea id="descripcion" name="descripcion" cols="40" rows="5"></textarea>
           <br /><br />
           <input type="submit" name="Enviar" />       
       </form>
    </div>
    <div style="width:50%;float:left">
        <h5>Ubicanos</h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d62427.09367356434!2d-76.994827!3d-12.064607000000002!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xbd8ce88cc6f97999!2sTerminal+Terrestre+Yerbateros!5e0!3m2!1ses!2sus!4v1509216417195" 
         width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>