@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/IMG/parrilla.jpg"  style="width:1024px;height:400px" />
    <h1>Producto De Calidad</h1>
    <p class="lead">Las mejores carnes lo encuentras en "La buena carne", cumplimos con estandares de calidad, lo cual
    nos permite ser la primera ganaderia en el peru en exportar nuestro producto al mercado EUROPEO.</p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>


<div class="row">
    <div class="col-md-4">
        <h2>CHURRASGO LARGO</h2>
        <img src="~/IMG/churrasco.jpg" style="width:150px;height:200px" />
    </div>
    <div class="col-md-4">
        <h2>CUADRIL</h2>
        <img src="~/IMG/cuadril.jpg" style="width:150px;height:200px;" />
    </div>
    <div class="col-md-4">
        <h2>OSOBUCO</h2>
        <img src="~/IMG/osobuco.jpg" style="width:150px;height:200px" />
    </div>
    <div class="col-md-4">
        <h2>CHURRASGO LARGO</h2>
        <img src="~/IMG/churrasco.jpg" style="width:150px;height:200px" />
    </div>
    <div class="col-md-4">
        <h2>CUADRIL</h2>
        <img src="~/IMG/cuadril.jpg" style="width:150px;height:200px;" />
    </div>
    <div class="col-md-4">
        <h2>OSOBUCO</h2>
        <img src="~/IMG/osobuco.jpg" style="width:150px;height:200px" />
    </div>
</div>